.banner {
    background-image: linear-gradient(to bottom, rgb(0,0,0) 0%, rgba(0,0,0,0.35) 50%, rgba(0,0,0,0.9) 100%), url('../../images/background.jpg');
    height: 720px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .banner__content {
    margin-left: 70px;
  }
  .banner__title {
    font-size: 65px;
    line-height: 72px;
    letter-spacing: -1.5px;
    color: var(--color-white);
    margin-bottom: 20px;
  }
  .banner__subtitle {
    font-size: 20px;
    line-height: 32px;
    color: var(--color-white);
    margin-bottom: 40px;
  }