.button {
    height: 40px;
    padding: 10px 24px;
    font-size: var(--font-size-default);
    line-height: 22px;
    border-radius: var(--border-radius-default);
    color: var(--color-white);
    background-color: var(--color-primary);
    text-decoration: none;
    border: none;
    font-family: 'Questrial', sans-serif;
  }
.button--large {
  height: 60px;
  width: 133px;
}