.cover {
    width: 214px;
    height: 290px;
    background-image: linear-gradient(to top, rgb(0,0,0,.8) 0%, rgba(0,0,0,0) 60%);
    position: relative;
    flex-shrink: 0;
    margin-right: 16px;
}
.cover__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: -1;
}
.cover__title {
    color: var(--color-white);
    font-size: 20px;
    line-height: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 8px 12px;
}
.cover--large {
    width: 400px;
    height: 240px;
}