.slider {
    margin: 70px;
}
.slider__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.slider__title {
    color: var(--color-white);
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.5px;
}
.slider__more {
    color: var(--color-white);
    font-size: var(--font-size-default);
    line-height: 22px;
    text-decoration: none;
}
.slider__more__text,
.slider__more__icon {
    vertical-align:middle ;
}
.slider__more__icon {
    fill: var(--color-primary);
    margin-left: 8px;
}
.slider__track {
    display: flex;
    overflow: auto hidden;
    margin: 0 -70px;
    padding: 0 70px;
    scrollbar-width: none; /*Scrollbar fix for Firefox Browser*/
}
.slider__track::-webkit-scrollbar {
    width: 0;
    height: 0;
}
